@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}
/* ===================== Font face ================================= */

@font-face {
  font-family: 'Ikaros';
  src: url('../app/src/assets/fonts/Ikaros2.ttf');
}

@font-face {
  font-family: 'MuseoModerno';
  src: url('../app/src/assets/fonts/MuseoModernoRegular.ttf');
}

@font-face {
  font-family: 'MuseoModernoThicc';
  src: url('../app/src/assets/fonts/MuseoModernoExtraBold.ttf');
}

@font-face {
  font-family: 'MuseoModernoSemiBold';
  src: url('../app/src/assets/fonts/MuseoModernoSemiBold.ttf');
}

@font-face {
  font-family: 'MuseoModernoLight';
  src: url('../app/src/assets/fonts/MuseoModernoLight.ttf');
}

/* ===================== ******** ================================= */

/* ===================== Header ================================= */

#cf {
  position: relative;
  width: 48px;
  height: 48px;
}

#cf img {
  position: absolute;
  left: 0;
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}

.bottom {
  opacity: 0;
}

#cf:hover .bottom {
  opacity: 1;
}

#cf:hover .top {
  opacity: 0;
}

.header_menu {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* ===================== ******** ================================= */

/* */
.gooey {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 142px;
  height: 40px;
  margin: -20px 0 0 -71px;
  background: white;
  filter: contrast(20);
}

.dot {
  position: absolute;
  width: 16px;
  height: 16px;
  top: 12px;
  left: 15px;
  filter: blur(4px);
  background: #000;
  border-radius: 50%;
  transform: translateX(0);
  animation: dot 2.8s infinite;
}

.dots {
  transform: translateX(0);
  margin-top: 12px;
  margin-left: 31px;
  animation: dots 2.8s infinite;
}

.span-loading {
  display: block;
  float: left;
  width: 16px;
  height: 16px;
  margin-left: 16px;
  filter: blur(4px);
  background: #000;
  border-radius: 50%;
}

@keyframes dot {
  50% {
    transform: translateX(96px);
  }
}
@keyframes dots {
  50% {
    transform: translateX(-31px);
  }
}
/* */
