@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}
/* ===================== Font face ================================= */

@font-face {
  font-family: 'Ikaros';
  src: url('../app/src/assets/fonts/Ikaros2.ttf');
}

@font-face {
  font-family: 'MuseoModerno';
  src: url('../app/src/assets/fonts/MuseoModernoRegular.ttf');
}

@font-face {
  font-family: 'MuseoModernoThicc';
  src: url('../app/src/assets/fonts/MuseoModernoExtraBold.ttf');
}

@font-face {
  font-family: 'MuseoModernoSemiBold';
  src: url('../app/src/assets/fonts/MuseoModernoSemiBold.ttf');
}

@font-face {
  font-family: 'MuseoModernoLight';
  src: url('../app/src/assets/fonts/MuseoModernoLight.ttf');
}

/* ===================== ******** ================================= */

/* ===================== Header ================================= */

#cf {
  position: relative;
  width: 48px;
  height: 48px;
}

#cf img {
  position: absolute;
  left: 0;
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}

.bottom {
  opacity: 0;
}

#cf:hover .bottom {
  opacity: 1;
}

#cf:hover .top {
  opacity: 0;
}

.header_menu {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* ===================== ******** ================================= */

/* */
.gooey {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 142px;
  height: 40px;
  margin: -20px 0 0 -71px;
  background: white;
  filter: contrast(20);
}

.dot {
  position: absolute;
  width: 16px;
  height: 16px;
  top: 12px;
  left: 15px;
  filter: blur(4px);
  background: #000;
  border-radius: 50%;
  transform: translateX(0);
  animation: dot 2.8s infinite;
}

.dots {
  transform: translateX(0);
  margin-top: 12px;
  margin-left: 31px;
  animation: dots 2.8s infinite;
}

.span-loading {
  display: block;
  float: left;
  width: 16px;
  height: 16px;
  margin-left: 16px;
  filter: blur(4px);
  background: #000;
  border-radius: 50%;
}

@keyframes dot {
  50% {
    transform: translateX(96px);
  }
}
@keyframes dots {
  50% {
    transform: translateX(-31px);
  }
}
/* */

/* */
.blur-effect {
  background: rgba(255, 255, 255, 0);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(15px);
}

.circle-shape {
  clip-path: circle(50% at 50% 50%);
}
/* */

/* Override Sidebar Style */
.css-1jlhf24 {
  position: relative !important;
  border-right-width: 1px !important;
  border-right-style: solid !important;
  border-color: #efefef !important;
  -webkit-transition: width, left, right, 300ms !important;
  transition: width, left, right, 300ms !important;
  width: 250px !important;
  display: hidden !important;
  min-width: 250px !important;
}

.css-1jlhf24.ps-broken.ps-rtl {
  right: -250px !important;
}

.css-1jlhf24.ps-rtl {
  direction: rtl !important;
  border-right-width: none !important;
  border-left-width: 1px !important;
  border-right-style: none !important;
  border-left-style: solid !important;
}

.css-1jlhf24.ps-broken.ps-rtl.ps-toggled {
  right: 0px !important;
  display: block !important;
}

.css-1jlhf24.ps-broken {
  position: fixed !important;
  height: 100% !important;
  top: 0px !important;
  z-index: 9999 !important;
}

.css-dip3t8 {
  position: relative !important;
  height: 100% !important;
  overflow-y: auto !important;
  overflow-x: hidden !important;
  z-index: 3 !important;
  background-color: rgb(249, 249, 249, 0.7) !important;
}

.css-1ytr39x {
  display: inline-block !important;
  width: 100% !important;
  position: relative !important;
}

.css-1ytr39x > .ps-menu-button {
  display: -webkit-box !important;
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-align-items: center !important;
  -webkit-box-align: center !important;
  -ms-flex-align: center !important;
  align-items: center !important;
  height: 50px !important;
  -webkit-text-decoration: none !important;
  text-decoration: none !important;
  justify-content: center !important;
  color: inherit !important;
  box-sizing: border-box !important;
  cursor: pointer !important;
  padding-left: 20px !important;
  padding-right: 20px !important;
}
/* ========================================= */

/* Override marquee library package */
.marquee {
  flex: 0 0 auto !important;
  min-width: 100% !important;
  z-index: 1 !important;
  display: flex !important;
  flex-direction: row !important;
  align-items: center !important;
  animation-duration: 48s !important;
  -webkit-animation-duration: 48s !important;
  animation-timing-function: linear !important;
  -webkit-animation-timing-function: linear !important;
  animation-iteration-count: infinite !important;
  -webkit-animation-iteration-count: infinite !important;
  animation-fill-mode: none !important;
  -webkit-animation-fill-mode: none !important;
  animation-name: scroll !important;
  -webkit-animation-name: scroll !important;
  animation-play-state: running !important;
  -webkit-animation-play-state: running !important;
  animation-delay: 0s !important;
  -webkit-animation-delay: 0s !important;
  animation-direction: normal !important;
  -webkit-animation-direction: normal !important;
}

@-webkit-keyframes scroll {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(calc(-250px * 9));
    transform: translateX(calc(-250px * 9));
  }
}

@keyframes scroll {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(calc(-250px * 9));
    transform: translateX(calc(-250px * 9));
  }
}

.initial-child-container {
  flex: 0 0 auto !important;
  display: flex !important;
  min-width: auto !important;
  flex-direction: row !important;
}

.marquee-container {
  overflow-x: hidden !important;
  display: flex !important;
  flex-direction: row !important;
  position: relative !important;
  width: 100% !important;
  -webkit-transform: none !important;
  transform: none !important;
}

.child {
  transform: none !important;
  -webkit-transform: none !important;
}

/* ====================================================*/
